
/*
@font-face {
    font-family: 'teX';
        src: url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot'); 
        src: url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot?iefix') format('eot'),
            url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff')  format('woff'),
            url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf')  format('opentype'),
            url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/svg/MathJax_Main-Regular.svg#MathJax_Main-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/


@font-face {
    font-family: 'teX';
    src: url('./webfonts/latinmodernroman_10regular_french/lmroman10-regular-webfont.eot');
    src: url('./webfonts/latinmodernroman_10regular_french/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./webfonts/latinmodernroman_10regular_french/lmroman10-regular-webfont.woff') format('woff'),
         url('./webfonts/latinmodernroman_10regular_french/lmroman10-regular-webfont.ttf') format('truetype'),
         url('./webfonts/latinmodernroman_10regular_french/lmroman10-regular-webfont.svg#latin_modern_roman10_regular') format('svg');
    font-weight: normal;
    font-style: normal;
    
}


@font-face {
    font-family: 'teX';
    src: url('./webfonts/latinmodernromanslanted_10regular_french/lmromanslant10-regular-webfont.eot');
    src: url('./webfonts/latinmodernromanslanted_10regular_french/lmromanslant10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./webfonts/latinmodernromanslanted_10regular_french/lmromanslant10-regular-webfont.woff') format('woff'),
         url('./webfonts/latinmodernromanslanted_10regular_french/lmromanslant10-regular-webfont.ttf') format('truetype'),
         url('./webfonts/latinmodernromanslanted_10regular_french/lmromanslant10-regular-webfont.svg#latin_modern_roman10_italic') format('svg');
    font-weight: normal;
    font-style: oblique;
    
}


@font-face {
    font-family: 'teX';
    src: url('./webfonts/latinmodernroman_10italic_french/lmroman10-italic-webfont.eot');
    src: url('./webfonts/latinmodernroman_10italic_french/lmroman10-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./webfonts/latinmodernroman_10italic_french/lmroman10-italic-webfont.woff') format('woff'),
         url('./webfonts/latinmodernroman_10italic_french/lmroman10-italic-webfont.ttf') format('truetype'),
         url('./webfonts/latinmodernroman_10italic_french/lmroman10-italic-webfont.svg#latin_modern_roman10_italic') format('svg');
    font-weight: normal;
    font-style: italic;
    
}

@font-face {
    font-family: 'teX';
    src: url('./webfonts/latinmodernroman_10bolditalic_french/lmroman10-bolditalic-webfont.eot');
    src: url('./webfonts/latinmodernroman_10bolditalic_french/lmroman10-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./webfonts/latinmodernroman_10bolditalic_french/lmroman10-bolditalic-webfont.woff') format('woff'),
         url('./webfonts/latinmodernroman_10bolditalic_french/lmroman10-bolditalic-webfont.ttf') format('truetype'),
         url('./webfonts/latinmodernroman_10bolditalic_french/lmroman10-bolditalic-webfont.svg#latin_modern_roman10_italic') format('svg');
    font-weight: bold;
    font-style: italic;
    
}


@font-face {
    font-family: 'teX';
    src: url('./webfonts/latinmodernroman_10bold_french/lmroman10-bold-webfont.eot');
    src: url('./webfonts/latinmodernroman_10bold_french/lmroman10-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./webfonts/latinmodernroman_10bold_french/lmroman10-bold-webfont.woff') format('woff'),
         url('./webfonts/latinmodernroman_10bold_french/lmroman10-bold-webfont.ttf') format('truetype'),
         url('./webfonts/latinmodernroman_10bold_french/lmroman10-bold-webfont.svg#latin_modern_roman10_bold') format('svg');
    font-weight: bold;
    font-style: normal;
    
}

@font-face {
    font-family: 'scteX';
    src: url('./webfonts/latinmodernromancaps_10regular_french/lmromancaps10-regular-webfont.eot');
    src: url('./webfonts/latinmodernromancaps_10regular_french/lmromancaps10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./webfonts/latinmodernromancaps_10regular_french/lmromancaps10-regular-webfont.woff') format('woff'),
         url('./webfonts/latinmodernromancaps_10regular_french/lmromancaps10-regular-webfont.ttf') format('truetype'),
         url('./webfonts/latinmodernromancaps_10regular_french/lmromancaps10-regular-webfont.svg#latin_modern_roman_caps10Rg') format('svg');
    font-variant: small-caps;  
    font-weight: normal;
    font-style: normal;
}

@counter-style circled-alpha {
  system: fixed;
  symbols: Ⓐ Ⓑ Ⓒ Ⓓ Ⓔ Ⓕ Ⓖ Ⓗ Ⓘ Ⓙ Ⓚ Ⓛ Ⓜ Ⓝ Ⓞ Ⓟ Ⓠ Ⓡ Ⓢ Ⓣ Ⓤ Ⓥ Ⓦ Ⓧ Ⓨ Ⓩ;
  suffix: " ";
}


.sc{
font-family:scTeX;
}

em{
font-family:teX;
font-weight:normal;
font-style:oblique;
}

it{
font-family:teX;
font-weight:normal;
font-style:italic;
}

bi{
font-family:teX;
font-weight:bold;
font-style:italic;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }



.ecue:first-line{color:#FFFFFF;}
.ecue::before{content:"\002711";}
div[class="ecue"]{
margin-top:0px;
margin-bottom:0px;
border-style:solid;
border-width:0px;
border-color:#484864;
color:CCCCCC;
border-radius: 4px;
width:776px;
padding:4px;
text-align:justify;
}


.paper:first-line{color:#FFFFFF;}
.paper::before{content:"" ;}
div[class="paper"]{
margin-top:16px;
margin-bottom:16px;
border-style:solid;
border-width:1px;
border-color:#646400;
color:CCCCCC;
border-radius: 8px;
width:768px;
padding-left:16px;
padding-right:16px;
padding-top:16px;
padding-bottom:16px;
text-align:justify;
}

#.papertitle:first-line{color:#FFF;font-style:italic;}
div[class="papertitle"]{
margin-left:0px;
width:640px;
color:#FFFFFF;
}


#.paperitem:first-line{color:#FFFFFF;font-style:italic;}
div[class="paperitem"]{
margin-top:16px;
margin-left:0px;
margin-right:0px;
font-size:small%; //95%
line-height:12pt;
}


#titre::after{
content:"";
font-size:xx-small; //50%
text-align:right;
padding-top:12px;
padding-left:20px;
}
#titre:first-letter{text-transform:uppercase;}
#titre{
line-height:1em;
border-style:solid;
border-width:2px;
border-color:#966432;
/*background:url(http://zanotti.univ-tln.fr/images/fond.jpg) no-repeat left top; */
background:#283228;
color:#FFF;
border-radius:8px;
width:776px;
height:2em; 
padding-left:12px;
padding-right:12px;
padding-top:12px;
padding-bottom:12px;
margin-right:120px;
text-align:left;
/*text-transform:uppercase;*/
font-family:scTeX;
font-weight:bold;
font-size:1.2em;
}

div[class="bandeauustv"]{
border-style:solid;
border-width:1px;
border-color:#323216;
background:url(http://www.univ-tln.fr/perso/top-ustv-2011.jpg) no-repeat left top;
margin-left:240px;
margin-top:8px;
color:#9090FF;
border-radius: 8px;
#background-color:#121216;
width:552px;
height:16px; 
padding-left:4px;
padding-right:4px;
padding-top:4px;
padding-bottom:6px;
text-align:left;
#text-transform:uppercase;
font-weight:bold;
font-size:1.25em; 
}

div[class="bandeauimath"]{
border-style:solid;
border-width:1px;
border-color:#323216;
background:url(http://zanotti.univ-tln.fr/images/imath.png) no-repeat left top;margin-left:240px;
margin-top:8px;
color:#161632;
border-radius: 8px;
#background-color:#121216;
width:552px;
height:16px; 
padding-left:4px;
padding-right:4px;
padding-top:4px;
padding-bottom:6px;
text-align:right;
#text-transform:uppercase;
font-weight:bold;
font-size:large; //125%
}

.comment::before{content:"\00261B\00202F"}
.comment {
color:#F84;
font-style:italic;
}

div[class="corps"]{
border-style:solid;
border-width:1px;
border-color:#643216;
border-radius: 4px;
#background:url(http://tranchesdevide.com/D/medium/0009.jpg);
margin-left:-1px;
margin-right:-1px;
margin-top:0px;
margin-bottom:0px;
color:#EEEEEE;
width:776px;
height:438px; 
padding-left:12px;
padding-right:12px;
padding-top:12px;
padding-bottom:12px;
text-align:justify;
#text-transform:uppercase;
#font-weight:bold;
font-family: "Courier New", "Courier", monospace;
}

div[class="contact"]{
border-style:solid;
border-width:0px;
border-color:#643216;
#background:url(http://tranchesdevide.com/D/medium/0009.jpg) no-repeat left bottom;
margin-left:0px;
margin-top:0px;
color:#FFFFFF;
#border-radius: 8px;
#background-color:#243224;
height:16px; 
padding-left:12px;
padding-right:12px;
padding-top:12px;
padding-bottom:12px;
text-align:center;
#text-transform:uppercase;
#font-weight:bold;
font-family: "Courier", serif;
}


table.synthese {
width:80%;
border-spacing:4px;
border-width:1px;
empty-cells:hide;
border-color:#CCCCCC;
border-style:solid;
font-size:90%;
}

tr.synthese {
}

td.titresynthese {
border-style:dotted;
border-width:1px;
border-color:#646464;
background:transparent;
color:#EEEEEE;
padding-left:8px;
padding-right:8px;
text-align:right;
text-transform:Capitalize;
font-weight:normal;
}

td.valeursynthese {
border-style:dotted;
border-width:1px;
border-color:#646464;
background:#inherit;
color:#CCCCCC;
width:20px;
padding-left:8px;
padding-right:8px;
text-align:left;
font-weight:normal;
}

#td.valeursynthesealgo::before{content:"\0021F0["}
#td.valeursynthesealgo::after{content:"]"}
td.valeursynthesealgo {
border-style:dotted;
border-width:1px;
border-color:#646464;
background:#242424;
font-size:110%;
color:#BB9200;
width:100%;
padding-left:8px;
padding-right:8px;
text-align:left;
font-variant:small-caps;
font-weight:bold;
}

.equation {
margin-top:0.5em;;
margin-bottom:0.5em;
text-align:center;
}

.wequation {
margin-top:0.5em;;
margin-bottom:0.5em;
text-align:center;
color: #FFFFFF;
}


.equationno::before{margin-right:10em; counter-increment:eqno;content:"("counter(eqno)")";}
.equationno::after {margin-left:10em;content:"\0000";}
.equationno {
text-align:left;
margin-top:0.5em;;
margin-bottom:0.5em;
}

.wequationno::before {margin-left:64px;content:"";}

.wequationno::after {margin-left:64px; counter-increment:eqno;content:"("counter(eqno)")";}

.wequationno {
margin-top:0.5em;;
margin-bottom:0.5em;
text-align:center;
color: #FFFFFF;
}


div#DM{
text-align:right;
color:#FFF;
margin-top:0.5em;
margin-bottom:0.5em;
padding-left:4px;
padding-right:0px;
padding-top:4px;
padding-bottom:4px;
margin-left:auto;
margin-right:0.25em;
font-size:small; //80%
}

div.warning{
line-height: 1.40em;
text-align:justify;
border-style:dotted;
border-width:1px;
border-color:#AAAAAA;
%background:#242424;
width:480px;
color:#FFFF00;
margin-top:1em;
margin-bottom:0em;
padding-left:16px;
padding-right:16px;
padding-top:16px;
padding-bottom:16px;
margin-left:0em;
margin-right:auto;
font-size:small; // 80%
font-weight:normal;
}

.eqalign{
display: list-item;
list-style: none;
text-align:center;
text-indent:-2.5em;
}

.var {
font-family:Courier New,Courier,monospace;
}


pre.algorithm::before, pre.algorithme::before{
font-family: monospace, courier;
font-weight:bold;
color:#FFF;
content:"ALGORITHME ";
#attr(class);
}

pre.RAM {
overflow:auto;
line-height:1.4em;
height:auto;
max-height:32.5em;
width:48em;
margin-left:auto;
margin-right:auto;
border-style:dotted;
border-width:1px;
border-color:#CCCCCC;
border-radius:0px;
background:#081208;
color:#EEEECC;
padding:12px;
text-align:left;
text-transform:uppercase;
font-family:monospace;
font-size:85%;
font-weight:normal;
}

pre.xterm::before{color:#FF0;content:"$ " ;}
pre.xterm, pre.program, pre.algorithm, pre.algorithme, pre.algobloc{
overflow:auto;
line-height: 1.4em;
height:auto;
max-height:32.5em;
width:48em;
border-style:dotted;
border-width:1px;
border-color:#CCCCCC;
border-radius: 0px;
background:#081208;
color:#CCCCCC;
padding:12px;
margin:2em;
margin-left:auto;
margin-right:auto;
text-align:left;
font-family: monospace, courier;
font-size:small;  
font-weight:normal;
}

.ckeyword, .cchain, .keyword, .motclef{
font-family: monospace,Courier;
font-size:small;
color:#EEE;
font-weight:bold;
}

.ckeyword{
text-transform:lowercase;
}

.cchain{
color:#AA0;
font-weight:normal;
}

.code{
font-family: monospace, Courier;
font-size:small;
font-weight:normal;
color:#EED;
//background:#000;
//padding:2px;
}

.ram{
font-family: monospace;
font-size:85%;
font-weight:normal;
color:#EEEECC;
//background:#000;
//padding:2px;
}

.newdef{
font-style:italic;
}

body {
-moz-hyphens    : auto;
-webkit-hyphens : auto;
-ms-hyphens     : auto;
hyphens         : auto;
line-height: 1.50em;
counter-reset: eqno secno subsecno ssubsecno chapno figno tabno stateno corno exno tpno footno questno;
background: #040804; /* Old browsers */
background: -moz-linear-gradient(left, #040804 0%, #243224 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#243224), color-stop(100%,#243224)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #040804 0%,#243224 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #040804 0%,#243224 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #040804 0%,#243224 100%); /* IE10+ */
background: linear-gradient(to right, #040804 0%,#243224 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040804', endColorstr='#243224',GradientType=1 ); /* IE6-9 */
#background:url(http://tranchesdevide.com/C/medium/0014.jpg) left top; 
filter:alpha(opacity=80);
font-family:teX;
color:#CECECE;
font-size:large;
margin:32px 32px 32px 32px;
padding-left:176px;
width:800px;
text-align:justify;
text-indent:0em;
}


a.def:hover {
background-color:transparent;
cursor:help;
}


h1 {
color:#CCCCCC;
background-color:transparent;
text-align:left;
}

p:first-letter{text-transform:uppercase;}
p::before{font-weight:bold; content:attr(class);}
p{
hyphens:auto;
margin-top:1em;
background-color:transparent;
text-align:justify;
margin-left:0px;
margin-right:0px;
}

div[id="date"]
{
text-align:right;
font-size=50%;
}


.box{
//    line-height: 1.40em;
    border:solid;
    border-radius:2px;
    border-width:1px;
    border-color:inherit;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:0px;
}


.question::before,.TP::before,.exo::before,.exercise::before{
    border:solid;
    background:none;
    border-radius:2px;
    border-width:0px;
    border-color:#364236;
    color:#DDD;
    padding-left:0px;
    padding-right:4px;
    padding-top:0px;
    padding-bottom:0px;
    margin-left:0px;
    font-weight:bold;
    font-size:100%;
    line-height:1.35em;
}

.exo::before,.exercise::before{
    counter-increment:exno;
    content: "Exercice " counter(exno) ". " attr(add);
}

.TP::before{
    counter-increment:tpno;
    content: "Travaux Pratiques " counter(tpno) ". " attr(add);
}

.question::before{
    counter-increment:questno;
    content: "Question " counter(questno) ". " attr(add);
}

.question, .TP, .exo, .exercise{
    line-height:1.35em;
    border:dashed;
    border-radius:6px;
    border-width:1px;
    border-color:#243224;
    padding:0.5em;
    padding-left:1em;
    padding-right:1em;
    color:inherit;
    background:inherit;
    margin-top:1em;
    margin-bottom:1em;
    text-align:justify;
    margin-left:0em;
    margin-right:0em;
    text-indent:0em;
    font-size:90%;
}

.wip::before{content:"";}
.wip{
margin-left:16px;
height:90px;
background:url(http://zanotti.univ-tln.fr/images/EnTravaux.png)  no-repeat left center; 
}

.leftnote{
float:left;
text-align:justify;
width:160px;
font-size:80%;
line-height:1.25em;
position:absolute;
margin-top:0.25em;
left:2em;
color:inherit;
}

.complement::before{
font-family:scteX;
color:#FFF;
font-weight:normal;
content: "Complément\00202F: "attr(comptype);
text-align:right;
background:#343;
padding:2px;
padding-left:4px;
padding-right:4px;
border-radius:4px;
margin-right:1em;
}

.complement{
    line-height: 1.40em;
    border:dotted;
    border-radius:8px;
    border-width:1px;
    border-color:#486448;
    padding:8px;
    color:inherit;
    margin-top:1.25em;
    margin-bottom:1.25em;
    text-align:justify;
    margin-left:3em;
    margin-right:3em;
    text-indent:0em;
    font-size:90%;
}



div[class="shell"]{
    background-color:#222;
    overflow:auto;
    line-height:1.4em;
    height:auto;
    max-height:32.5em;
    width:48em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
    width:80%;
    line-height:1.40em;
    height:auto;
    max-height:32.5em;
    border:solid;
    border-radius:0px;
    border-width:1px;
    border-color:#646464;
    padding:12px;
    padding-top:0px;
    padding-left:16px;
    padding-bottom:22px;
    font-family:"Courier new",monospace;
    font-size:small;
    white-space:pre;
    color:#FFF;
    text-indent:0em;
}

.shell{
background:#222;
font-family:"Courier new";
font-size:small;
white-space:pre;
color:#FFF;
text-indent:0em;
padding:4px;
padding-top:2px;
padding-bottom:2px;
border-radius:4px;
}

.statement::before,.stateno::before{
    border:solid;
    background:none;
    border-width:0px;
    color:#FFD;
    margin-right:0.5em;
    margin-left:0px;
    text-transform:capitalize;
    font-size:normal;
    font-weight:normal;
    font-family:scteX;
    counter-increment:stateno;
    content: attr(title) " " counter(stateno) ".";
}

.stateno::before{
    content: attr(title)".";
}

.stateno,.statement{
    line-height:inherit;
    border:dashed;
    background:inherit;
    border-radius:6px;
    border-left-width:1px;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-color:#565;
    border-bottom-color:#343;
    border-right-color:#343;
    padding:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    color:#FFF;
    margin-top:1em;
    margin-bottom:1em;
    text-align:justify;
    text-indent:0em;
    margin-left:0%;
    margin-right:0%;
}


.quote::before{content:"\201C"}
.quote::after{content:"\201D"}
.quote{
}


.preuve::before, .solution::before{
    border-style:solid;
    border-width: 1px;
    background:#121;
    color:#FFD;
    border-color:#565;
    border-bottom-color:#343;
    border-right-color:#343;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:8px;
    padding-right:8px;
    border-radius:4px;
    /*font-variant:small-caps;*/
    text-transform:capitalize;
    font-family:scTeX;
    font-weight:normal;
    font-size:90%;
    content:attr(class);
    cursor:row-resize;
    margin-right:100em;
}

/*
.preuve::after{
    color:#FFF;
    #font-variant:small-caps;
    text-transform:capitalize;
    font-weight:bold;
    margin-left:1em;
    float:right;
    font-size:100%;
    content:" \25FB";
}
*/

.preuve,.solution {
    line-height:1.45em;
    border-style:dashed;
    border-width:1px;
    border-radius:8px;
    border-width:1px;
    padding:8px;
    border-color:#343;
    color:#inherit;
    background:#inherit;
    margin-left:0em;
    margin-right:15%;
    margin-top:-1em;
    margin-bottom:1em;
    text-align:justify;
    text-indent:0em;
    font-size:90%;
}

.note::before{
    border:solid;
    background:none;
    border-radius:0px;
    border-width:0px;
    color:#FFF;
    margin-right:0.0em;
    margin-left:0px;
    font-style:normal;
    font-weight:bold;
    content:attr(title) ". "
}
.note{
    border:dashed;
    border-radius:0px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-width:0px;
    border-color:#565656;
    color:inherit;
    padding-left:0em;
    padding-top:0.5em;
    padding-bottom:0.75em;
    text-align:justify;
    margin-left:0em;
    margin-right:20%;
    margin-top:1em;
    margin-bottom:1em;
    text-indent:0em;
    font-size:95%;
    line-height:1.40em;
}


p.subsection:first-line{font-famility:scteX;font-weight:bold;font-size:110%;color:#FFF;line-height:2em;}
p.subsection::before{counter-increment:subsecno;content:"\00200F"counter(secno)"."counter(subsecno)". ";}
p.subsection{
    counter-reset:ssubsecno;
    margin-top:0.5em;
    background-color:transparent;
    text-align:justify;
    margin-left:0px;
    margin-right:0px;
}

p.ssubsection:first-line{font-weight:normal;color:#FFF;line-height:2em;}
p.ssubsection::before{font-weight:normal;color:#FFF;counter-increment:ssubsecno;content:"\00200F"counter(ssubsecno, upper-alpha)". ";}
p.ssubsection{
    margin-top:0.5em;
    background-color:transparent;
    text-align:justify;
    margin-left:0px;
    margin-right:0px;
}


p.nonumsection::before{font-family:scTeX;content:" ";}
p.section::before{font-family:scTeX;counter-increment:secno;content:"\00200F"counter(secno)". ";}

p.section:first-line, p.nonumsection:first-line{font-family:scTeX;font-size:1.1em;color:#FFF;line-height:2em;}

p.nonumsection, p.section{
    counter-reset:subsecno;
    margin-top:3em;
    border-style:solid;
    border-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-color:#FFF;
    background-color:transparent;
    text-align:justify;
    margin-left:auto;
    margin-right:auto;
    //text-transform:uppercase;
}


#chapter::before{
    content:"Chapitre "attr(number)". ";
}

#chapter{
    margin-top:1em;
    margin-bottom:2em;
    border-style:solid;
    border-width:0px;
    border-bottom-width:4px;
    border-color:#DDD;
    padding:0.5em;
    border-radius:0px;
    background-color:inherit;
    text-align:justify;
    margin-left:auto;
    margin-right:auto;
    font-family:scTeX;
    font-size:1.2em;
    font-weight:bold;
    //text-transform:uppercase;
}



div.fig::before{font-style:normal;counter-increment:figno; content:"Fig.\00202F" counter(figno)" - "attr(figname);}
div.tab::before{font-style:normal;counter-increment:tabno; content:"Tab.\00202F " counter(tabno)" - "attr(tabname);}

div.tab, div.fig {
    margin:0px auto;
    min-width:0%;
    display:block;
    max-width:50%;
    border: none
    margin: 0.5em;
    padding: 0.5em;
    font-size:smaller;
    font-style:italic;
    line-height:1.25em;
    text-align:justify;
}




li {
    background-color:transparent;
    text-align:left;
    margin-left:0px;
    margin-right:0px;
}

a{
    background-color:transparent;
    text-decoration:none;
}

a:link {color:#BBE;}
a:visited {color:#99B;}
a:hover {color:#CCF;}



a.adef:hover{cursor:help;color:#CCF;}
a.adef{font-style:oblique;}
/*a.adef::before{font-style:normal;font-size:100%;content:"☞\00202F"}*/
/*a.adef::after{font-style:normal;font-size:75%;content:"\00202F✇"}*/

a.def:hover{cursor:inherit;}
a.def{color:#FFB;font-style:oblique;}
/*a.def::after{font-style:normal;font-size:80%;content:"\00202F✇"}*/

a.cours:hover{}
a.cours:link{}
a.cours:visited{}
a.cours:::after{line-height:0em;font-style:normal;vertical-align:middle;font-size:90%;content:"\00202F✍"}
/*a.cours::after{font-style:normal;font-size:80%;content:"\00202F✍"}*/
a.cours {
background-color:transparent;
text-decoration:none;
text-transform:none;
font-family:scTeX;
font-style:normal;
font-size:90%;
line-height:0em;
}

a.algo:hover {cursor:zoom-in;}
a.algo::before{font-style:normal;vertical-align:super;font-size:80%;content:"⚙"}
/*a.algo:::after{font-style:normal;font-size:100%;content:"\00202F⚙"}*/
.algo, a.algo{
/*text-transform:uppercase;*/
/*font-variant: small-caps;*/
/*background-color:#242424;*/
font-family:monospace;
font-weight:bold;
font-size:100%;
}

span.algo{
color:#99B;
}

pre .line-number {
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}


div#summary::before{
font-weight:bold;
font-family:scTeX;
color:#FFF;
content:"Sommaire\002001";
}

div#summary{
padding:0.5em;
border-style:dashed;
border-width:1px;
border-color:#464;
border-radius: 8px;
line-height:1.45em;
width:80%;
background:inherit;
font-size:0.9em;
}

div#listdef::before{
font-family:scTeX;
color:#FFF;
line-height:1em;
font-weight:normal;
margin-left:-1.5em;
content:"Termes et définitions";
font-style:normal;
}

div#listdef.null::before{
content:"";
}

div#listdef:first-line{
color:#FFF;
line-height:1em;
font-size:1em;
font-family:scTeX;
font-weight:bold;
text-style:normal;
}

div#listdef{
    display:block;
    padding-left:1.5em;
    border-style:solid;
    border-width:0px;
    border-color:#CCC;
    color:#CCC;
    border-radius:2px;
    line-height:1.2em;
    width:100%;
    font-size:80%;
    margin-top:1em;
    margin-left:0em;
    margin-right:0em;
}

ul.test{
list-style-type:circle;
padding:0em;
}

.first::before{
content:"" }
.first{
margin-left:0em;
font-weight:bold;
}

.sbutton, .button{
background-color:#BBA; 
border-top-width:1px; 
border-left-width:1px; 
border-bottom-width:2px; 
border-right-width:2px; 
border-top-color:#DDA; 
border-left-color:#CC8; 
border-bottom-color:#553; 
border-right-color:#664; 
border-radius:6px;
padding:2px;
padding-left:6px;
padding-right:6px;
border-style:solid; 
color:#A00; 
text-align:left;
cursor:pointer;
font-family:monospace,scteX;
font-size:75%;
}

.sbutton{
padding:2px;
cursor:inherit;
font-size:75%;
font-style:normal;
}

.output, .input{
background-color:inherit; 
width:auto;
max-height:1.35em;
border-width:1px; 
border-radius:0px; 
border-color:#FFF; 
text-align:right;
margin-left:0px;
margin-right:0px;
border-style:dashed; 
color:#FFF; 
border-color:#D80;
padding:0px;
padding-left:4px;
padding-right:4px;
text-align:right;
font-family:teX;
font-size:100%;
text-align:left;
}

.output{
border-width:0px; 
}

ul.tiret {
  list-style: none; 
  margin-left: 0;
  padding-left: 1.75em;
}

li.tiret::before {
content: "\002013";
padding-right: 0.5em;
margin-left:-1em;
}

li.tiret{
margin-top:0.35em;
}

.moves{
font-size:100%;
margin:0.2em;
margin-top:0em;
}

.MathJax .mtext {font-family: teX ! important}
